
  <div class="footer">
        <p class="CustomerSupport">Customer Support: 666-555-444</p>
        <p class="TradeMark">© HardwareTools-R-Us, LLC 2018</p>
    </div>

</div>
  </div>
    </body>
</html>