html,
body {
    background-image: url("https://media.istockphoto.com/photos/maple-wood-panel-texture-background-picture-id586070768?k=6&m=586070768&s=612x612&w=0&h=4N6AIRkCdm8DTHF-QkOgibkRV_LsNLg-r8-7ZqYeRqE=");
    background-repeat:  repeat;
    background-color: #cccccc;
    margin:0;
    padding:0;
    height:100%;
}
.wrapper {
    min-height:100%;
    position:relative;
}
content {
    padding:10px;
    padding-bottom:60px;
 }
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.delete-form {
    display: inline
}

.jumbotron {
    padding: 20px;
     background: rgba(221, 220, 218, 0.3); 
}

.inspiration {
    font-size: 30px;
    margin: 50px;
    color: black;
}
.pros {
    font-size: 20px;
    color: black;
}

.col-xs-6 {
    margin: 50px 0px 50px;
    color: black;
    font-size: 20px;
    text-align: center;
}


.icon{
    font-size: 100px;
}
hr{
    border-style: none;
}
.footer { 
    width:100%;
    height:55px;
    position:absolute;
    bottom:0;
    left:0;
    background: #101010;
}
.footer-pro{
    width:100%;
    height:55px;
    margin-top: 20px;
}
.CustomerSupport{
    float: left;
    color: #9d9d9d;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.8vh;
}
.TradeMark{
    float: right;
    color: #9d9d9d;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.8vh;
}

.thumbnail{
 font-size: 20px;
 text-align: center;
 border: none;
 border-radius: 30%;
 margin: 20px 20px 90px 20px;
 
}
.thumbnail-pic {
    border-radius: 5%;
}
.img-show {
 border-radius: 30%;  
}
.fa-shopping-cart{
    margin-right: 5px; 
}
.fa-wrench {
    margin-right: 5px; 
}
.add-to-cart {
    position: relative;
    bottom: 33px;
    margin-right: 20%;
}
